.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 auto;
    width: 80%;
}

.page__messages {
    overflow: auto;
    padding: 0 0 20px;
    margin: 50px auto;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.page__input {
    padding-top: 20px;
    width: 100%;
}

.page__button {
    margin: 20px 0;
}